@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Charm:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kumar+One&family=Noto+Serif+Balinese&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
  color: wheat;
  background-color: #0e0e0e;
}

nav {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border: 1px solid wheat;
  height: 50px;
  align-items: center;
  position: sticky;
  padding: 15px;
  margin: auto;
  width: 90%;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  top: 45px;
  z-index: 10;
}
nav div {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
nav .pc {
  display: none;
}
nav #talk {
  background-color: #dac5a7;
  color: #0e0e0e;
  padding: 7px;
}
nav a {
  text-decoration: none;
  font-size: 0.8rem;
  color: wheat;
}

.hero-1 {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.hero-1 img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-1 h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "IBM Plex Sans Condensed", serif;
  font-weight: 200;
  font-style: normal;
}
.hero-1 p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  padding: 10px 0;
}
.hero-1 p br {
  display: none;
}

.hero-2 {
  width: 95%;
  margin: auto;
}
.hero-2 .srvices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.hero-2 .srvices p {
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.hero-2 .srvices span {
  border: 1px solid wheat;
  border-radius: 50px;
  background-color: #302e2e;
  padding: 5px;
  font-size: 1.5rem;
}
.hero-2 .marque {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  font-size: 2rem;
}
.hero-2 .marque::before, .hero-2 .marque::after {
  content: "";
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.hero-2 .marque::after {
  right: 0;
  background-image: linear-gradient(to left, #0e0e0e, transparent);
}
.hero-2 .marque::before {
  left: 0;
  background-image: linear-gradient(to right, #0e0e0e, transparent);
}
.hero-2 .marque .marque-1 {
  margin-top: 10px;
  display: flex;
  gap: 3rem;
  animation: marquee 8s linear infinite both;
}

.hero-3 .boxes {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px 10px;
}
.hero-3 .boxes .box {
  width: 95%;
  height: 320px;
  border: 1px solid #343230;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.9rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hero-3 .boxes .box h3 {
  font-size: 2rem;
}
.hero-3 .boxes .box div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "POPPINS", serif;
}
.hero-3 .boxes .box div span {
  border: 1px solid wheat;
  border-radius: 50px;
  transform: rotate(230deg);
}
.hero-3 .boxes .box div a {
  text-decoration: none;
  color: wheat;
}
.hero-3 .boxes .box div:hover span {
  transform: rotate(268deg);
  transition-duration: 0.2s;
}

.hero-4 {
  width: 100%;
}
.hero-4 .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex-direction: column;
  gap: 20px;
}
.hero-4 .first p {
  font-size: 2.5rem;
}
.hero-4 .first div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-4 .first div span {
  border: 1px solid wheat;
  border-radius: 50px;
  transform: rotate(230deg);
}
.hero-4 .first div a {
  text-decoration: none;
  color: wheat;
}
.hero-4 .first div:hover span {
  transform: rotate(268deg);
}
.hero-4 .second {
  width: 100%;
  display: grid;
  grid-template-areas: "a" "b" "c" "d";
  gap: 10px;
}
.hero-4 .second .images {
  width: 95%;
  margin: auto;
  position: relative;
}
.hero-4 .second .images .a {
  grid-area: a;
}
.hero-4 .second .images .b {
  grid-area: b;
}
.hero-4 .second .images .c {
  grid-area: c;
}
.hero-4 .second .images .d {
  grid-area: d;
}
.hero-4 .second .images img {
  width: 100%;
}
.hero-4 .second .images div {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #343230;
  position: absolute;
  bottom: 10px;
  left: 7px;
  font-size: 1.2rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.hero-5 {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  padding: 50px 0px;
}
.hero-5 p {
  font-size: 1rem;
  padding: 20px;
}
.hero-5 h1 {
  font-size: 3rem;
  font-weight: 100;
  padding: 20px;
}
.hero-5 .para {
  font-size: 1.3rem;
  font-weight: 50;
  font-weight: 400;
  padding: 20px;
}
.hero-5 .line {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-5 .line span {
  font-size: 1.5rem;
  border: 1px solid wheat;
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.hero-5 .line div {
  height: 50px;
  width: 1px;
  border: 1px solid wheat;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 1024px) {
  html {
    font-size: clamp(16px, 1vw, 25px);
  }
  nav {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    border: 1px solid #d9c2a5;
    height: 65px;
    align-items: center;
    width: 535px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(24, 23, 22, 0.7176470588);
    position: sticky;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    top: 45px;
  }
  nav .pc {
    display: block;
  }
  nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: wheat;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  nav .material-symbols-outlined {
    display: none;
  }
  .hero-1 img {
    width: 33%;
  }
  .hero-1 h1 {
    font-size: 8.5em;
  }
  .hero-1 p {
    font-size: 1.8rem;
  }
  .hero-1 p br {
    display: block;
  }
  .hero-2 .marque {
    width: 80%;
  }
  .hero-3 .boxes {
    flex-direction: row;
  }
  .hero-3 .boxes .box {
    width: 400px;
  }
  .hero-4 .first {
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
  }
  .hero-4 .second {
    grid-template-areas: "a b" "c d";
    gap: 10px;
  }
  .hero-4 .second .images div {
    left: 13px;
  }
}/*# sourceMappingURL=style.css.map */